<div class="col-md-18">
    <div class="footer">
        <div class="container">
            <div class="clearfix">
                <div class="footer-logo">
                    <a href="http://elegantdevs.com"><img height="40" src="/images/icon.png">ElegantDevs</a>
                </div>

                <dl class="footer-nav">
                    <dt class="nav-title">USEFUL LINKS</dt>

                    <dd class="nav-item"><a href="/">Home</a></dd>
                    <dd class="nav-item"><a href="/about/">About Us</a></dd>

                    <dd class="nav-item"><a href="http://github.com/RanbirAulakh">Ranbir's Github</a></dd>

                    <dd class="nav-item"><a href="http://github.com/JoeBartelmo">Joe Bartelmo</a></dd>
                </dl>

                <dl class="footer-nav">
                    <dt class="nav-title">CONTACT</dt>
                    <dd class="nav-item"><a href="mailto:info@elegantdevs.com">info@elegantdevs.com</a></dd>
                </dl>
            </div>

            <div class="footer-copyright text-right">
                Copyright © 2013 - 2014 ElegantDevs. All Rights Reserved
                <p>Using <a href="http://Github.com">Github</a> and <a href="http://bootflat.github.io">BootFlat Framework</a></p>
            </div>
        </div>
    </div>
</div>