<!--<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <div class="trigger">
        {% for page in site.pages %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endfor %}
      </div>

  </div>

</header>-->
<div class="docs-header">
    <!--nav-->
    <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="/"><img src="/images/logo.png" height="40"></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
               <li><a class="nav-link" href="/">Home</a></li>
               <li><a class="nav-link" href="/about/">About Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li><a class="nav-link" href="http://github.com/RanbirAulakh">Ranbir's Github</a></li>
               <li><a class="nav-link" href="http://github.com/JoeBartelmo">Joe's Github</a></li>
            </ul>
          </div>
        </div>
  </nav>
</div>
