<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ELEGANTDEVS</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ranbir Aulakh's Links <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="ranbir_resume.html">Resume</a></li>
                        <li><a href="https://www.linkedin.com/in/ranbiraulakh">Linkedin</a></li>
                        <li><a href="https://github.com/ranbiraulakh">Github</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Joseph Bartelmo's Links <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="joseph_resume.html">Resume</a></li>
                        <li><a href="https://www.linkedin.com/in/joseph-bartelmo-949547a7">Linkedin</a></li>
                        <li><a href="https://github.com/JoeBartelmo">Github</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>