<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title>ElegantDevs</title>
    <meta content="width=device-width" name="viewport">
    <link rel="icon" type="image/png" href="http://i.imgur.com/NefBwsm.png">

    <!-- syntax highlighting CSS -->
    <link href="/css/syntax.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/site.min.css" rel="stylesheet">
</head>

<body style="background-color:rgb(241, 242, 246);">
    <!--header-->
    <div class="docs-header">
        <!--nav-->
        <nav class="navbar navbar-default navbar-custom">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target=
                    ".navbar-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span></button> <a class="navbar-brand" href=
                                                                              "index.html"><img height="40" src="http://i.imgur.com/xosoid9.png"></a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a class="nav-link" href="index.html">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--nav-->
        <!--header-->
    </div>
    <br/>
    <div class="container">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div id="home">
                    <div class="panel-heading">
                        <h3 class="panel-title">BLOG POSTS</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="posts">
                            {{ content }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-12">
                <div class="footer">
                    <div class="container">
                        <div class="clearfix">
                            <div class="footer-logo"><a href="index.html"><img src="http://i.imgur.com/NefBwsm.png" height="40" /> ElegantDevs</a></div>
                            <dl class="footer-nav">
                                <dt class="nav-title">USEFUL LINKS</dt>
                                <dd class="nav-item"><a href="index.html">Home</a></dd>
                                <dd class="nav-item"><a href="aboutus.html">About Us</a></dd>
                                <dd class="nav-item"><a href="http://github.com/RanbirAulakh">Ranbir's Github</a></dd>
                                <dd class="nav-item"><a href="http://github.com/JoeBartelmo">Joe's Github</a></dd>
                            </dl>
                            <dl class="footer-nav">
                                <dt class="nav-title">CONTACT</dt>
                                <dd class="nav-item"><a href="mailto:info@elegantdevs.net">info@elegantdevs.net</a></dd>

                            </dl>
                        </div>
                        <div class="footer-copyright text-right">
                            Copyright &copy; 2014 &lt;/ElegantDevs&gt
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/bootstrap.min.js"></script>
</body>
</html>
